.container-fluid{
    display: flex;
    justify-content: space-evenly;
 }
 
 
 .head{
     margin: 15px;
     margin-left: 20px;
     font-family: cursive;
     line-height: 1.5;
 }
 
 .container{
     display: flex;
 }
 
 .im{
     margin-top: 25px;
     border-radius: 20px;
     margin-bottom: 65px;
 
 }
 
 #table{
     margin-left: 20px;
     border-radius: 20px;
 }
 
 .hc{
     text-align: center;
     margin-top: 40px;
 }
 
 .ha{
     margin-bottom: 25px;
 }
 
 *{
     font-family: cursive;
     text-align: center;
     
     
 }
 
 .ig{
     margin-left:25px;
     border-radius: 20px;
     margin-top: 25px;
 
 }
 
 h3{
     margin-left: 100px;
     margin-top: 25px;
 }
 
 #ki{
     display: flex;
     justify-content: space-evenly;
 }
 
 .ik{
     margin-top: 50px;
     margin-left: 100px;
 }
 
 .ht{
     margin-top: 30px;
 }
 
 .iu{
     margin-top: 20px;
 }
 
 span{
     color: rgb(243, 116, 116);
 }
 
 .kl{
     margin-top: 30px;
 }
 
 #yo{
     display: flex;
 }
 
 #ttt{
     background-color: grey;
     display: flex;
     justify-content: space-evenly;
 }
 
 #iii{
     display: flex;
     justify-content: center;
 
 }
 #io{
     background-color: rgb(31, 28, 28);
     height: 100%;
    
 }
 
 .pp{
     color: white;
 }
 
 #vc{
     height: 450px;
     padding: 30px;
     width: 600px;
 }
 
 a{
     color: white;
 }
 
 #mn{
     margin-top: 25px;
     border-radius: 40px;
 }
 h4{
     color: rgb(21, 109, 252);
 }
 h2{
     color: rgb(214, 13, 13);
 }
 
 .carousel-item img{
     height: 700px;
     width: 50%;
 }
 
 
#pk{
    background-color: #0e5f5f;
}

.ui{
    color: white;
    margin-left: 5px;
}